<!-- Template driven form for signing in -->

<div class="row">
    <div class="col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
      <h1>Login</h1>
      <hr>
      <form (ngSubmit)="onSignIn(f)" #f="ngForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" ngModel class="form-control"/>
        </div>
      
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" ngModel class="form-control"/>
        </div>
        <button class="btn btn-primary mb-2" type="submit" [disabled]="!f.valid">Login</button>

        <div class="text-danger" *ngIf="hasError">Error: try again</div>
      </form>
    </div>
  </div>